html {
    background: #F8F8FF;
}

.header {
    background-color: rgb(246, 250, 252);
    padding: 20px 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 auto;
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    background: url("bg.jpg");
    color: white;
    padding: 40px 0;
    text-align: center;
}

/*Header*/

.box {
    background: #333;
    overflow: hidden;
}

.box a {
    color: #f2f2f2;
    float: right;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    
}

.box a:hover {
    background-color: #ddd;
    color: black;
}

.box a.active {
    background-color: #4caf50;
    color: white;
}

/*Main Description*/

.description {
    margin-bottom: 40px;
    margin: 0 0 1em;
    padding: 30px;
}

.main-title {
    padding-left: 20px;
    font-size: 1.5em;
    margin: 0 0 1em;
    
    text-align: center;
}

.main-title p {
    margin: 0 0 1em;
}

.main-title strong {
    font-weight: bold;
}

.carousel {
    width: 560px;
    margin: 2em auto;
}

/*Services*/

.services {
    padding: 1em 0;

}

.services-content {
    width: 640px;
	margin: 0 auto;
}

.list-services {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.list-services li {
    line-height: 1.5;
}

.list-services li:before {
    content: "🟊";
}

/*Video*/

.video {
    width: 560px;
    margin: 2em auto;
    
}

/*Map*/

.map {
    padding: 3em 0;
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

/*Media Queries*/

@media screen and (max-width: 480px){
	.box, .description, .services-content, .map-content, .video {
		width: auto;
	}

	h1, h2, h3, h4 {
		text-align: center;
	}

	.topnav {
		position: static;
	}

	.services-content {
		width: 100%;
	}
}